/*---------- Body ------------------*/
*{
  border-top: 1px solid red;
  box-sizing: border-box;
}
html{
  height: 100%;
}

body{
  height: 100%;
  text-align: center;
}

/*---------- Nav -------------------*/
nav{
  display: inline-block;
  background-color: #75e2e6;
  border-bottom: 2px solid #048eaa;
  width: 100%
}

nav img{
  width: 30px;
}

/*---------- Header ----------------*/
header{
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("images/park.jpg");
  z-index: 0;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/*---------- Aritcle ---------------*/
article{
  max-width: 800px;
  display: inline-block;
}

/*---------- Section ---------------*/
section{
  float: left;
  width: 240px;
  margin: 10px;
}

section p{
  height: 170px;
  text-align: left;
}
.doggo-pics{
    border-radius: 50%;
    width: 200px;
    border: 4px;
    border-color: #048eaa;
    border-style: solid;
}
.doggo-section-button{
  background-color: #048eaa;
  color: white;
}
/*.left{
  float: left;
}

.center{
  float: center;
}

.right{
  float: right;
}*/
/*---------- Footer ----------------*/
footer{
  display: block;
  background-color: #048eaa;
  color: #ffffff;
}

.social-share{
  width: 30px;
}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
