/*---------- Body ------------------*/
*{
/*  border: 1px solid red;*/
  box-sizing: border-box;
}
html{
  height: 100%;
}

body{
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #048eaa;
}
a{
  text-decoration: none;
}

.clearfix:after {
    content: ' ';
    display: table;
    clear: both;
}
/*---------- Nav -------------------*/
nav{
  display: inline-block;
  background-color: #75e2e6;
/*  border-bottom: 2px solid #048eaa;*/
  width: 100%;
  padding: 0 10px;
}

nav a{
  height: 100%;
  padding: 12px 10px;
}

nav a:hover{
  background-color: #048eaa;
  color: #ffffff;
}

nav img{
  width: 40px;
  display: inline;
  background-color: #75e2e6;
}

.limit-width{
  max-width: 800px;
  margin: auto;
  padding: 5px 0;
}
.right-nav{
  text-decoration: none;
  text-align: right;
  display: inline;
  float: right;
}

.left-icon{
  text-align: left;
  display: inline;
  float: left;
}
/*---------- Header ----------------*/
h1{
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

header{
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("images/park.jpg");
  z-index: 0;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
}

form{
  padding-bottom: 20px;
  max-width: 380px;
  margin: auto;
  text-align: left;
}

label{
  color: #ffffff;
  margin-bottom: 15px;
}

input{
  outline: none;
  margin-bottom: 15px;
  width: 100%;
}

#doggo-name{
  width: 100%;
  outline: none;
  margin-bottom:15px;
  background-color: #75e2e6;
  outline: none;
  border: 0;
}

/*---------- Aritcle ---------------*/
.background-article{
  background-color:#ffffff;
}
article{
  max-width: 800px;
  display: inline-block;
  background-color: #ffffff;
}

/*---------- Section ---------------*/
section{
  float: left;
  width: 240px;
  margin: 10px;
}

section p{
  height: 170px;
  text-align: left;
}
.doggo-pics{
    border-radius: 50%;
    width: 200px;
    border: 4px;
    border-color: #048eaa;
    border-style: solid;
}
.doggo-section-button{
  background-color: #048eaa;
  color: white;
  width: 240px;
  cursor: pointer;
  margin: 20px 0;
}
.doggo-section-button:hover{
  background-color: #75e2e6;
  color: black;
}
/*.left{
  float: left;
}

.center{
  float: center;
}

.right{
  float: right;
}*/
/*---------- Footer ----------------*/
footer{
  display: block;
  background-color: #048eaa;
  color: #ffffff;
  padding: 20px;
}

.social-share{
  width: 30px;
  margin: 10px;
}

/*---------- Media Queries ---------*/

/*---- Large Tablet/Small Comp -----*/
@media screen and (max-width: 1024px){

}

/*---- Typical Tablet Size ---------*/
@media screen and (max-width: 768px){

}

/*---- Large Phones ----------------*/
@media screen and (max-width: 440px){

}

/*---- Small Screens ---------------*/
@media screen and (max-width: 320px){

}
